.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.books {
  width: 800px;
  display: flex;
  justify-content: space-around;
}
.book-details {
  margin: 15px;
  padding: 2px;
  width: 300px;
  border-radius: 5px;
  background-color: lightblue;
  justify-content: space-around;
  box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.3);
}
.book-header {
  margin: 5px;
}
.book-body {
  margin: 5px;
}
.form {
  width: 200px;
}
.form-group {
  margin: auto;
  padding: 1px;
  width: 170px;
}
ul {
  list-style-type: none;
  display: block;
}
li {
  margin: 15px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
