<div class="container" style="width: 900px;">
    <div class="row">
        <% if(data.length == 0) {%>
        <h3> You have no books. </h3>
        <%} else {%>
        <% data.forEach( (book) => { %>
        <div class="col-sm card-book">
            <div class="card shadow-lg" style="width: 220px; padding: 2px !important">
                <img src="/uploads/<%= book.image %>" width="100%" height="180px" style="padding:10px">
                <div class="card-body card-book-body">
                    <h5 class="card-title" style="width: 180px;"> <%= book.title %></h5>
                    <p class="card-text"> Rating: <%= book.rating %></p>
                    <a href="#" class="btn btn-primary btn-sm" data-toggle="modal"
                        data-target="#exampleModalCenter<%= book._id %>">Details</a>
                    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal"
                        data-target="#edit<%= book._id %>"> Edit </button>
                    <a href="/user/removebook/<%= book._id %>" class="btn btn-primary btn-sm"> Remove </a>
                </div>

                <div class="modal fade" id="exampleModalCenter<%= book._id %>" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content" style="width:400px;">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalCenterTitle"><%= book.title %></h5>

                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="modal-image mb-3" style="display:flex; justify-content: space-between">
                                    <h5> Cover Page: </h5>
                                    <img src="/uploads/<%= book.image %>" width="150px" height="200px">
                                </div>

                                <div class="modal-author mb-3" style="display:flex; justify-content: space-between">
                                    <h5> Author: </h5>
                                    <h6><%= book.author %></h6>
                                </div>

                                <div class="modal-seller mb-3" style="display:flex; justify-content: space-between">
                                    <div>
                                        <h5> About: </h5>
                                    </div>
                                    <div style="padding-top: 4px; padding-left: 6px;">
                                        <h6><%= book.description %></h6>
                                    </div>
                                </div>

                                <div class="modal-image mb-3" style="display:flex; justify-content: space-between">
                                    <h5> Rating: </h5>
                                    <h6> <%= book.rating %></h6>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="edit<%=book._id%>" tabindex="-1" role="dialog" aria-labelledby="editModal"
                    aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="editModal">Modal title</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form id="<%= book._id %>" method="POST" action="/user/editbook/<%= book._id%>"
                                    enctype="multipart/form-data">
                                    <div class="form-group">
                                        <label for="title"> Title </label>
                                        <input required type="text" name="title" value="<%= book.title %>"
                                            class="form-control">
                                    </div>

                                    <div class="form-group">
                                        <label for="description"> Description : </label>
                                        <input required type="text" name="description" value="<%= book.description %>"
                                            class="form-control">
                                    </div>

                                    <div class="form-group">
                                        <label for="author"> Author </label>
                                        <input required type="text" name="author" value="<%= book.author %>"
                                            class="form-control">
                                    </div>

                                    <div class="form-group">
                                        <label for="isbn"> ISBN </label>
                                        <input required type="text" name="isbn" value="<%= book.isbn %>"
                                            class="form-control">
                                    </div>

                                    <div class="form-group">
                                        <label for="rating"> Rating </label>
                                        <input required type="number" name="rating" value="<%= book.rating %>"
                                            class="form-control">
                                    </div>

                                    <div class="form-group">
                                        <label for="seller"> Seller </label>
                                        <input required type="text" name="seller" value="<%= book.seller %>"
                                            class="form-control">
                                    </div>

                                    <div class="form-group">
                                        <label for="image"> Image </label>
                                        <input required type="file" name="image" accept="image/*" class="form-control">
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Save changes</button>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        </br>
        <% }); %>
        <% }%>
    </div>
</div>