.body-wrapper{
    background-color: #eceff1;
}
.top-nav-bar{
    margin-bottom: 30px !important;
}

.container{
    width: 400px;
}

.footer{
    height: 50px;
    background-color:blueviolet;
}
.card-book{
    margin-bottom: 50px;
}
.card-book-body{
    width: 260px;
    height: 180px;
}

p.card-book-body{
    overflow: ellipsis;
}

.profile{
    width: 500px;
    margin-bottom: 200px;
}

.profile-head{
    margin-bottom: 30px;
    text-align: end;
    color: blue;
    border-bottom: 3px solid red;
}

.profile-row{
    margin: 20px;
    display: flex;
}

.profile-property{
    width: 300px;    
}